{#  支持如下变量 = 后面是默认值 #}
{# placeholder = 搜索 #}
{# upperThreshold = 40 #}
{# lowerThreshold = 40 #}
  <div class="page">
    <weui-search-bar v-if="showSearchBar"
      placeholder="{{placeholder or '搜索'}}"
      @show-input="onSearchBarShowInput"
      @clear-input="onSearchBarClearInput"
      @text-change="onSearchBarTextChange"
      @cancel="onSearchBarCancel"
      @confirm="onSearchBarConfirm"
      />
    <loading-view v-if="isRefreshing || isLoading" />
    <div v-if="hasContent"
         class="list-view-wrapper">

      <scroll-view class="list-view"
                   scroll-y
                   upper-threshold="{{upperThreshold or 40}}"
                   lower-threshold="{{lowerThreshold or 40}}"
                   @scrolltoupper="bindScrollToTop"
                   @scrolltolower="bindScrollToBottom"
                   :style="scrollViewStyle">
                   {% block listItems %}
                   {% endblock %}
      </scroll-view>
      <weui-load-more v-if="shouldShowLoadMoreFooter"
                      :loading="loadMoreState.loading"
                      :nomore="loadMoreState.nomore" />
    </div>
    <div v-if="nodata || hasError"
         class="list-msg-box weui-msg">
      <view class="weui-msg__icon-area">
        <icon type="info"
              size="64"></icon>
      </view>
      <view class="weui-msg__text-area">
        {% raw %}
        <view v-if="nodata"
              class="weui-msg__title">{{nodataMessage}}</view>
        <view v-if="hasError"
              class="weui-msg__title">{{activeErrorMessage}}</view>
        {% endraw %}
      </view>
      <view class="weui-msg__opr-area">
        <view class="weui-btn-area">
          <button class="weui-btn"
                  @tap="onTapReloadButton"
                  type="primary">重试?</button>
        </view>
      </view>
    </div>
  </div>
